@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100vw;
  scrollbar-width: thin;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 8px;
}

::-webkit-scrollbar-track:hover {
  background: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #676767;
}

.hide-scrollbar {
  -ms-overflow-style: none !important; /* voor Internet Explorer, Edge */
  scrollbar-width: none !important; /* voor Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none !important; /* voor Chrome, Safari en Opera */
}
